[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/bonsai-lib-sol/lib/forge-std"]
	path = lib/bonsai-lib-sol/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/bonsai-lib-sol/lib/murky"]
	path = lib/bonsai-lib-sol/lib/murky
	url = https://github.com/dmfxyz/murky
