[package]
name = "wordle"
version = "0.1.0"
edition = "2021"

[dependencies]
methods = { path = "../methods" }
rand = "0.8.5"
risc0-zkp = { path = "../../risc0/zkp" }
risc0-zkvm = { path = "../../risc0/zkvm" }
serde = "1.0"
wordle-core = { path = "core" }

[features]
cuda = ["risc0-zkp/cuda", "risc0-zkvm/cuda"]
metal = ["risc0-zkp/metal", "risc0-zkvm/metal"]
