[workspace]

# Without resolver = "2", it seems that sometimes features get enabled
# in the guest based on features required by build dependencies.  If
# resolver = "2" causes other problems, this may need to be
# investigated further.
resolver = "2"

[package]
name = "risc0-zkvm-methods-std"
version = "0.1.0"
edition = "2021"

[dependencies]
risc0-zkvm = { path = "../..", default-features = false, features = [
  "std",
  "getrandom",
] }
risc0-zkvm-methods = { path = "..", features = ["std"] }

[profile.release]
lto = true
opt-level = 3

[profile.release.package.risc0-zkvm-methods-std]
# Include debug symbols so we can test the profiler.
debug = 1

[package.metadata.release]
release = false

[features]
test_feature1 = []
test_feature2 = []
