# CODEOWNERS

# Note: Order is important; the last matching pattern takes the most
# precedence.

*                                      @risc0/platform

/website/                              @risc0/platform @pdg744

# These are sensitive files
/groth16_proof/groth16/                @flaub @nategraf
/SECURITY.md                           @flaub
control_id.rs                          @flaub @nategraf
recursion_zkr.zip                      @flaub @nategraf
