build -c opt
# Make sure we still detect assertion failures
build --copt=-UNDEBUG
build --host_copt=-UNDEBUG
build --announce_rc
build --cxxopt=-std=c++17
build --host_cxxopt=-std=c++17
build --incompatible_enable_cc_toolchain_resolution

build:ci --aspects=//bazel/rules/clang_format:defs.bzl%clang_format_aspect
build:ci --output_groups=+clang_format_checks

build:dbg -c dbg
build:dbg --strategy=ObjcLink=local
build:dbg --strategy=CppLink=local

try-import %workspace%/.bazelrc.local
