build -c opt
build --announce_rc
build --cxxopt=-std=c++17
build --host_cxxopt=-std=c++17
build --incompatible_enable_cc_toolchain_resolution
#build --toolchain_resolution_debug
build --flag_alias=riscv_root=//bazel/toolchain/risc0:root
build --flag_alias=accel=//risc0/zkp/accel:flag

build:cpu --accel=cpu

build:clang-tidy --aspects @bazel_clang_tidy//clang_tidy:clang_tidy.bzl%clang_tidy_aspect
build:clang-tidy --output_groups=report
build:clang-tidy --@bazel_clang_tidy//:clang_tidy_config=//:clang_tidy_config
build:clang-tidy --build_tag_filters=-skip_clang_tidy

build:ci --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect
build:ci --output_groups=+rustfmt_checks
build:ci --@rules_rust//:rustfmt.toml=//bazel/rules/rust:rustfmt.toml

build:dbg -c dbg
build:dbg --strategy=ObjcLink=local
build:dbg --strategy=CppLink=local

try-import %workspace%/.bazelrc.local
