root = true

[*]
indent_style = space
indent_size = 2
tab_width = 4
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf

[*.toml]
indent_size = 4

[*.rs]
indent_size = 4

[*.py]
indent_size = 4

[*.bazel]
indent_size = 4

[*.bzl]
indent_size = 4

[WORKSPACE]
indent_size = 4

[*.BUILD]
indent_size = 4

[*.s]
indent_size = 4
