*~
*.swp
*.swo
.bazelrc.local
.cache
.devcontainer/
.dockerignore
.DS_Store
.idea/
bazel-*
Cargo.lock
dist/
Dockerfile
rust-project.json
target/
tmp/
node_modules/
**/node_modules/**
examples/multisig/application/node_modules/**
examples/multisig/application/package-lock.json