*.id binary
*.iid binary
*.zip -text
groth16_proof/groth16/stark_verify.circom filter=lfs diff=lfs merge=lfs -text
risc0/circuit/hello-m3/src/testdata/hello_lift_12.zkr filter=lfs diff=lfs merge=lfs -text
risc0/circuit/hello-m3/src/testdata/proof.bin filter=lfs diff=lfs merge=lfs -text
risc0/circuit/recursion/src/recursion_zkr.zip filter=lfs diff=lfs merge=lfs -text
