*.id binary
*.iid binary
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zkr filter=lfs diff=lfs merge=lfs -text
groth16_proof/groth16/stark_verify.circom filter=lfs diff=lfs merge=lfs -text
risc0/circuit/hello-m3/src/testdata/proof.bin filter=lfs diff=lfs merge=lfs -text
