[package]
name = "risc0-core"
description = "Core types for RISC Zero crates"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }

[package.metadata.docs.rs]
rustdoc-args = ["--cfg", "docsrs"]
all-features = true

[features]
perf = ["dep:nvtx", "dep:puffin"]
std = []

[dependencies]
bytemuck = { version = "1.12", features = ["derive"] }
rand_core = "0.9.3"

[target.'cfg(not(target_os = "zkvm"))'.dependencies]
nvtx = { version = "1.3", optional = true }
puffin = { version = "0.19", optional = true }

[dev-dependencies]
rand = { version = "0.9.1", features = ["small_rng"] }
