[package]
name = "risc0-zkvm"
description = "RISC Zero zero-knowledge VM"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }

[[bench]]
name = "fib"
harness = false
required-features = ["prove"]

[[bench]]
name = "guest_run"
harness = false

[[example]]
name = "fib"
required-features = ["prove"]

[[example]]
name = "loop"
required-features = ["prove"]

[[example]]
name = "recursion"
required-features = ["prove"]

[build-dependencies]
prost-build = { version = "0.12", optional = true }
protoc-prebuilt = { git = "https://github.com/risc0/protoc-prebuilt.git", rev = "14be7456835318f0f2bfd2ee1f0eb9d7ed5ef701", optional = true }

[dependencies]
anyhow = { version = "1.0", default-features = false }
bytemuck = { version = "1.13", features = ["extern_crate_alloc"] }
cfg-if = "1.0"
getrandom = { version = "0.2", features = ["custom"] }
hex = { version = "0.4.3", default-features = false, features = ["alloc"] }
risc0-binfmt = { workspace = true }
risc0-core = { workspace = true }
risc0-zkp = { workspace = true }
risc0-zkvm-platform = { workspace = true, features = [
  "rust-runtime",
  "export-getrandom",
] }
rrs-lib = "0.1"
semver = { version = "1.0", default-features = false }
serde = { version = "1.0", default-features = false, features = [
  "alloc",
  "derive",
] }

# Host dependencies
[target.'cfg(not(target_os = "zkvm"))'.dependencies]
addr2line = { version = "0.21", features = ["rustc-demangle"], optional = true }
ark-bn254 = { version = "0.4", optional = true }
ark-groth16 = { version = "0.4", default-features = false, optional = true }
ark-serialize = { version = "0.4", default-features = false, optional = true }
bincode = { version = "1.3", optional = true }
bonsai-sdk = { workspace = true, optional = true }
bytes = { version = "1.4", features = ["serde"], optional = true }
crypto-bigint = { version = "0.5", default-features = false, features = [
  "rand",
], optional = true }
elf = { version = "0.7", default-features = false, optional = true }
lazy-regex = { version = "3.1", optional = true }
num-bigint = { version = "0.4", default-features = false, optional = true }
num-derive = { version = "0.4", optional = true }
num-traits = { version = "0.2", default-features = false, optional = true }
prost = { version = "0.12", optional = true }
rayon = { version = "1.5", optional = true }
risc0-circuit-recursion = { workspace = true, optional = true }
risc0-circuit-rv32im = { workspace = true, optional = true }
rustc-demangle = { version = "0.1", optional = true }
sha2 = { version = "0.10", default-features = false, optional = true }
tempfile = { version = "3", optional = true }
tracing = { version = "0.1", default-features = false, features = [
  "attributes",
], optional = true }
typetag = { version = "0.2", optional = true }

[dev-dependencies]
clap = { version = "4", features = ["derive"] }
criterion = { version = "0.5", features = ["html_reports"] }
human-repr = "1.0"
lazy_static = "1.4.0"
rand = "0.8"
tracing-forest = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }

[target.'cfg(not(target_os = "zkvm"))'.dev-dependencies]
flate2 = "1.0"
risc0-zkvm-methods = { path = "methods" }
serde_json = "1.0"
serial_test = "2.0"
tar = "0.4"
tempfile = "3"
test-log = { version = "0.2", default-features = false, features = ["trace"] }

[features]
client = [
  "dep:bincode",
  "dep:bonsai-sdk",
  "dep:bytes",
  "dep:prost",
  "dep:prost-build",
  "dep:protoc-prebuilt",
  "verify",
  "std-verify",
  "std"
]
cuda = [
  "prove",
  "risc0-circuit-recursion/cuda",
  "risc0-circuit-rv32im/cuda",
  "risc0-zkp/cuda",
]
dual = []
metal = [
  "prove",
  "risc0-circuit-recursion/metal",
  "risc0-circuit-rv32im/metal",
  "risc0-zkp/metal",
]
default = ["client"]
disable-dev-mode = []
# This flag uses the docker environment to build test guests such as multi-test
# to ensure accurate cycle and segment counts. Tests that have been gated on
# this flag measure cycles and segments. Without this flag, the rust build
# system will generate binaries that not identical across all architectures.
# While this is acceptable for most tests, the tests counting cycles and
# segments will fail intermittently.
docker = []
# The zkVM exposes a getrandom implementation that panics by default. This will
# expose a getrandom implementation that uses the `sys_random` ecall.
getrandom = ["risc0-zkvm-platform/getrandom"]
# note: cfg!(feature = "fault-proof") is used as a temporary measure in addition
# to it being used to expose functionality to the fault checker.
fault-proof = []
prove = [
  "client",
  "fault-proof",
  "dep:addr2line",
  "dep:bincode",
  "dep:bytes",
  "dep:crypto-bigint",
  "dep:elf",
  "dep:lazy-regex",
  "dep:num-traits",
  "dep:prost",
  "dep:prost-build",
  "dep:protoc-prebuilt",
  "dep:rayon",
  "dep:rustc-demangle",
  "dep:tempfile",
  "dep:typetag",
  "risc0-circuit-recursion/prove",
  "risc0-circuit-rv32im/prove",
  "risc0-zkp/prove",
  "std",
]
std = [
  "anyhow/std",
  "hex/std",
  "risc0-binfmt/std",
  "risc0-zkp/std",
  "serde/std",
]
std-verify = [
  "ark-bn254/std",
  "ark-groth16/std",
  "ark-serialize/std",
  "num-bigint/std",
  "num-traits/std",
  "risc0-circuit-recursion/std",
  "risc0-circuit-rv32im/std",
  "sha2/std"
]
verify = [
  "dep:ark-bn254",
  "dep:ark-groth16",
  "dep:ark-serialize",
  "dep:num-bigint",
  "dep:num-derive",
  "dep:risc0-circuit-recursion",
  "dep:risc0-circuit-rv32im",
  "dep:sha2",
  "dep:tracing"
]
