[package]
name = "risc0-fuzz"
version = "0.0.0"
edition = { workspace = true }
publish = false

[package.metadata]
cargo-fuzz = true

[features]
# Add requirements to build the corpus seed generator.
seed = ["dep:risc0-zkvm-methods", "dep:anyhow"]

[[bin]]
name = "receipt_seal_verify"
path = "fuzz_targets/receipt_seal_verify.rs"
test = false
doc = false
bench = false

[[bin]]
name = "receipt_decode_and_verify"
path = "fuzz_targets/receipt_decode_and_verify.rs"
test = false
doc = false
bench = false

[[bin]]
name = "seed_corpus"
required-features = ["seed"]

[dependencies]
anyhow = { version = "1.0", optional = true }
bytemuck = "1.24.0"
# NOTE: LibAFL is an alternative to libfuzzer. They provide a compatible fuzzer implementation,
# which can be enabled by replacing where the libfuzzer-sys crate is sourced. In experimentation,
# LibAFL achieved a higher rate of executions/sec, and found a known panic issue quickly. However,
# it also was more finicky to get working and required specific compilation options to build.
#
# See the following example for more about this setup.
# https://github.com/AFLplusplus/LibAFL/tree/main/fuzzers/fuzz_anything/cargo_fuzz
#libfuzzer-sys = { package = "libafl_libfuzzer", version = "0.15.4" }
libfuzzer-sys = { version = "0.4.10" }
risc0-circuit-rv32im = { workspace = true }
bincode = "1"
risc0-zkvm = { workspace = true, default-features = false, features = ["prove", "std"] }
risc0-zkvm-methods = { path = "../zkvm/methods", features = ["std"], optional = true }
