[workspace]

# Without resolver = "2", it seems that sometimes features get enabled
# in the guest based on features required by build dependencies.  If
# resolver = "2" causes other problems, this may need to be
# investigated further.
resolver = "2"

[package]
name = "risc0-zkvm-methods-guest"
version = "0.1.0"
edition = "2021"

[dependencies]
bytemuck = "1.12"
getrandom = "0.2"
risc0-zkp = { path = "../../../zkp", default-features = false }
risc0-zkvm = { path = "../..", default-features = false, features = [
  "getrandom",
  "std",
] }
risc0-zkvm-methods = { path = ".." }
risc0-zkvm-platform = { path = "../../platform", features = ["unstable"] }
rsa = { version = "0.9", default-features = false, features = ["pem"] }

[profile.release]
lto = true
opt-level = 3
debug = 1

[profile.release.package.risc0-zkvm-methods-guest]
# Include debug symbols so we can test the profiler.
debug = 1

[package.metadata.release]
release = false
