[package]
name = "risc0-circuit-keccak-sys"
description = "Generated HAL code for keccak cicuit"
version = "2.0.1"
edition = { workspace = true }
license = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
links = "risc0-circuit-keccak-sys"

[dependencies]
cust = { version = "0.3", optional = true }
derive_more = { version = "2.0.1", features = ["debug"] }
risc0-core = { workspace = true }
risc0-sys = { workspace = true }
sppark = { workspace = true, optional = true }

[build-dependencies]
cc = { version = "1.2.2", features = ["parallel"] }
glob = "0.3"
risc0-build-kernel = { workspace = true }

[features]
default = ["keccak"]
keccak = []
cuda = ["dep:cust", "dep:sppark", "risc0-sys/cuda"]
