[package]
name = "sha"
version = "0.12.0"
edition = { workspace = true }

[features]
cuda = ["risc0-zkvm/cuda"]
default = []
prove = ["risc0-zkvm/prove"]

[dependencies]
clap = { version = "4.0", features = ["derive"] }
risc0-zkvm = { path = "../../risc0/zkvm" }
sha-methods = { path = "methods" }

[dev-dependencies]
gpu-guard = { path = "../../tools/gpu-guard" }
hex = "0.4"
