[package]
name = "host"
version = "0.1.0"
edition = "2021"

[dependencies]
methods = { path = "../methods" }
risc0-zkvm = { {{ risc0_zkvm }} }
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
serde = "1.0"
