[package]
name = "risc0-zkvm-methods"
version = { workspace = true }
edition = { workspace = true }

[build-dependencies]
risc0-build = { workspace = true }
tracing-subscriber = { version = "0.3", features = ["env-filter"] }

[package.metadata.release]
release = false

[package.metadata.risc0]
methods = ["cfg", "guest", "heap", "rand", "std", "cpp-crates"]

[dependencies]
bincode = { version = "1.3", optional = true }
borsh = { version = "1.5", default-features = false }
ciborium = { version = "0.2", default-features = false }
postcard = "1.0"
risc0-zkvm = { workspace = true, features = ["unstable"] }
risc0-zkvm-platform = { workspace = true }
rmp-serde = "1.3"
serde = { version = "1.0", default-features = false, features = ["derive"] }

[features]
std = ["dep:bincode", "risc0-zkvm/std"]
