[package]
name = "risc0-groth16"
description = "RISC Zero Groth16"
version = "3.0.2"
edition = { workspace = true }
license = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }

[dependencies]
anyhow = { version = "1.0", default-features = false }
ark-bn254 = "0.5.0"
ark-ec = "0.5.0"
ark-ff = "0.5.0"
ark-groth16 = { version = "0.5", default-features = false }
ark-serialize = { version = "0.5", default-features = false }
bytemuck = "1.14"
cfg-if = { version = "1.0", optional = true }
circom-witnesscalc = { version = "0.2.1", optional = true }
hex = { version = "0.4", default-features = false, features = ["alloc"] }
num-bigint = { version = "0.4", default-features = false }
num-traits = { version = "0.2", default-features = false }
risc0-binfmt = { workspace = true }
risc0-core = { workspace = true, optional = true }
risc0-groth16-sys = { workspace = true, optional = true }
risc0-zkp = { workspace = true }
rzup = { workspace = true, optional = true }
serde = { version = "1.0", default-features = false, features = [
  "alloc",
  "derive",
] }
serde_json = { version = "1.0", optional = true }
tempfile = { version = "3", optional = true }
tracing = { version = "0.1", optional = true }
wtns-file = { version = "0.1.5", optional = true }

[dev-dependencies]
serde_json = "1.0"
test-log = { version = "0.2", default-features = false, features = ["trace"] }

[package.metadata.docs.rs]
rustdoc-args = ["--cfg", "docsrs"]
all-features = true

[features]
cuda = [
  "dep:circom-witnesscalc",
  "dep:risc0-groth16-sys",
  "dep:wtns-file",
  "prove",
  "risc0-groth16-sys/cuda",
]
default = ["std"]
prove = [
  "dep:cfg-if",
  "dep:risc0-core",
  "dep:rzup",
  "dep:serde_json",
  "dep:tempfile",
  "dep:tracing",
  "risc0-zkp/prove",
  "std",
]
std = [
  "anyhow/std",
  "ark-bn254/std",
  "ark-groth16/std",
  "ark-serialize/std",
  "hex/std",
  "num-bigint/std",
  "num-traits/std",
  "risc0-zkp/std",
  "serde/std",
]
unstable = []
