[package]
name = "risc0-r0vm"
description = "RISC Zero zero-knowledge VM executable"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }

[dependencies]
bincode = "1.3"
bytemuck = "1.12"
clap = { version = "4.5", features = ["derive", "env"] }
risc0-circuit-bigint = { workspace = true, features = ["prove"] }
risc0-zkvm = { workspace = true, features = ["prove"] }
tracing-subscriber = { version = "0.3", features = ["env-filter"] }

[dev-dependencies]
anyhow = "1.0"
assert_cmd = "2.0"
assert_fs = "1.0"
risc0-zkvm-methods = { path = "../zkvm/methods" }
temp-env = "0.3"
test-log = { version = "0.2", default-features = false, features = ["trace"] }
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }

[features]
cuda = ["risc0-zkvm/cuda"]
default = []
disable-dev-mode = ["risc0-zkvm/disable-dev-mode"]
dual = ["risc0-zkvm/dual"]
metal = ["risc0-zkvm/metal"]
