[package]
name = "risc0-r0vm"
description = "RISC Zero zero-knowledge VM executable"
version = "4.0.0"
edition = { workspace = true }
license = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }

[dependencies]
anyhow = "1.0.98"
axum = { version = "0.8.4", features = ["macros"] }
axum-extra = "0.10.1"
bincode = "1.3"
bonsai-sdk = { workspace = true }
bytemuck = "1.12"
clap = { version = "4.5", features = ["derive", "env"] }
derive_more = { version = "2.0.1", default-features = false, features = [
  "add",
  "add_assign",
  "debug",
  "from",
  "try_into",
] }
dirs = "6.0.0"
futures = "0.3.31"
http = "1.3"
http-body-util = "0.1.3"
kameo = "0.16"
multi_index_map = "0.15.0"
nvml-wrapper = "0.11.0"
opentelemetry = "0.30.0"
opentelemetry-appender-tracing = "0.30.1"
opentelemetry-otlp = "0.30.0"
opentelemetry_sdk = "0.30.0"
reqwest = "0.12"
risc0-circuit-rv32im = { workspace = true }
risc0-zkvm = { workspace = true, features = ["prove"] }
semver = "1"
serde = { version = "1.0.219", features = ["rc"] }
tempfile = "3.20.0"
thiserror = "2.0.12"
tokio = { version = "1.44.2", features = [
  "macros",
  "io-util",
  "process",
  "rt-multi-thread",
  "signal",
] }
tokio-util = { version = "0.7.15", features = ["codec"] }
toml = "0.8.22"
tracing = "0.1.41"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
url = "2"
uuid = { version = "1.16.0", features = ["serde", "v4"] }

[dev-dependencies]
anyhow = "1.0"
assert_cmd = "2.0"
assert_fs = "1.0"
assert_matches = "1.5"
axum-test = "18"
httpmock = "0.7.0"
opentelemetry_sdk = { version = "0.30.0", features = ["testing"] }
risc0-zkvm-methods = { path = "../zkvm/methods" }
rstest = "0.25.0"
temp-env = "0.3"
test-log = { version = "0.2", default-features = false, features = ["trace"] }
tracing-subscriber = { version = "0.3", features = ["env-filter"] }

[features]
cuda = ["risc0-zkvm/cuda"]
default = []
disable-dev-mode = ["risc0-zkvm/disable-dev-mode"]
dual = ["risc0-zkvm/dual"]
metal = ["risc0-zkvm/metal"]
redis = ["risc0-zkvm/redis"]
r0vm-ver-compat = ["risc0-zkvm/r0vm-ver-compat"]

[lints]
workspace = true
