[package]
name = "bonsai-sdk"
version = "0.1.0"
edition = "2021"

[dependencies]
reqwest = { version = "0.11", features = ["json", "stream"] }
serde = { version = "1.0", features = ["derive"] }
thiserror = "1.0"

[dev-dependencies]
env_logger = "0.9.0"
httpmock = "0.6"
uuid = { version = "1.3", features = ["v4"] }
tokio = { version = "1.19" }

[lib]
# Disables the doctest from the README because it imports external components and make requests
doctest = false
