[package]
name = "doc-test"
version = "0.1.0"
edition = { workspace = true }
license = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }

[package.metadata.release]
release = false

[dependencies]
alloy-primitives = "0.7"
alloy-sol-types = "0.6"
anyhow = "1.0"
clap = { version = "4.1", features = ["derive", "env"] }
ethers = { version = "2.0", features = ["rustls", "ws"] }
fibonacci-methods = { path = "../../../examples/profiling/methods" }
risc0-zkvm = { workspace = true, features = ["prove"] }
risc0-zkvm-methods = { path = "../../../risc0/zkvm/methods" }
serde = { version = "1.0", features = ["derive"] }
tokio = { version = "1", features = ["full", "sync"] }

[build-dependencies]
glob = "0.3"

[features]
metal = ["risc0-zkvm/metal"]
