[package]
name = "wasm"
version = "0.1.0"
edition = { workspace = true }

[features]
cuda = ["risc0-zkvm/cuda"]
default = []
prove = ["risc0-zkvm/prove"]

[dependencies]
risc0-zkvm = { path = "../../risc0/zkvm" }
wasm-methods = { path = "methods" }
wat = "<1.0.72"

[dev-dependencies]
gpu-guard = { path = "../../tools/gpu-guard" }
