common --announce_rc
common --enable_platform_specific_config

build -c opt

build --cxxopt=-std=c++17
build --host_cxxopt=-std=c++17
build --incompatible_enable_cc_toolchain_resolution
build --flag_alias=cuda_archs=@rules_cuda//cuda:archs
build --flag_alias=cuda_compiler=@rules_cuda//cuda:compiler

build:dbg -c dbg
build:dbg --strategy=ObjcLink=local
build:dbg --strategy=CppLink=local

build:linux --@bazel_clang_format//:binary=@clang-format-linux//:clang-format

build:macos --@rules_cuda//cuda:enable=false
build:macos --@bazel_clang_format//:binary=@clang-format-macos//:clang-format

build:clang-format-base --@bazel_clang_format//:config=//:clang-format-config
build:clang-format-base --output_groups=report
build:clang-format-base --keep_going

build:clang-format --config=clang-format-base
build:clang-format --aspects=@bazel_clang_format//:defs.bzl%check_aspect

build:clang-format-fix --config=clang-format-base
build:clang-format-fix --aspects=@bazel_clang_format//:defs.bzl%fix_aspect
build:clang-format-fix --use_action_cache=false

try-import %workspace%/.bazelrc.local
