[package]
name = "keccak"
version = "0.1.0"
edition = "2024"

[workspace]

[dependencies]
risc0-zkvm = { path = "../../../../risc0/zkvm", default-features = false, features = ["std"] }
tiny-keccak = { version = "2.0.2", features = ["keccak"] }

[patch.crates-io]
# Adding RISC Zero keccak precompile support
tiny-keccak = { git = "https://github.com/risc0/tiny-keccak", tag = "tiny-keccak/v2.0.2-risczero.0" }
