[package]
name = "risc0-bigint2"
description = "RISC Zero's Big Integer Accelerator"
version = "1.4.5"
edition = { workspace = true }
license = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }

[dependencies]
include_bytes_aligned = "0.1"
num-bigint = { version = "0.4", default-features = false, optional = true }
num-bigint-dig = { version = "0.8", default-features = false, optional = true }
stability = "0.2"

[dev-dependencies]
anyhow = "1.0"
clap = { version = "4.5", features = ["derive"] }
num-bigint = { version = "0.4", default-features = false, features = ["serde"] }
num-bigint-dig = { version = "0.8", default-features = false, features = [
  "serde",
] }
num-traits = "0.2.18"
puffin = "0.19"
puffin_http = "0.16"
risc0-bigint2-methods = { path = "methods" }
risc0-zkvm = { workspace = true, features = ["prove", "unstable"] }
rstest = "0.25.0"
test-log = { version = "0.2", default-features = false, features = ["trace"] }
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }

[features]
witgen_debug = ["risc0-zkvm/witgen_debug"]
circuit_debug = ["risc0-zkvm/circuit_debug"]
cuda = ["risc0-zkvm/cuda"]
default = []
num-bigint-dig = ["dep:num-bigint-dig"]
num-bigint = ["dep:num-bigint"]
unstable = []
