[package]
name = "cargo-risczero"
version = "3.0.0"
edition = { workspace = true }
license = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
description = "RISC Zero CLI tools"
readme = "README.md"
keywords = ["risc0", "risczero", "tool", "cli", "generate"]

[[bin]]
name = "r0vm"
doc = false

[dependencies]
anyhow = { version = "1.0", features = ["backtrace"] }
bincode = "1.3"
bonsai-sdk = { workspace = true }
cargo_metadata = "0.19.1"
clap = { version = "4.5", features = ["derive", "env"] }
clap-cargo = { version = "0.15.1", features = ["cargo_metadata"] }
const_format = "0.2"
hex = "0.4"
regex = "1.11.1"
risc0-build = { workspace = true, features = ["unstable"] }
risc0-r0vm = { workspace = true, optional = true }
risc0-zkvm = { workspace = true, features = ["unstable"] }
semver = "1"
serde_json = "1"
syn = "2.0.87"
tempfile = "3"
text_io = "0.1.12"
tokio = { version = "1.44.2", features = ["rt-multi-thread"] }
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
zip = { version = "2.1", optional = true }

[build-dependencies]
cargo_metadata = "0.19.1"
risc0-build = { workspace = true, optional = true }
serde_json = "1"
tracing-subscriber = { version = "0.3", features = [
  "env-filter",
], optional = true }
zip = { version = "2.1", optional = true }

[package.metadata.docs.rs]
rustdoc-args = ["--cfg", "docsrs"]
# NOTE: cuda and metal are excluded because their build scripts require external tools.
features = ["docker", "r0vm"]

[features]
cuda = ["risc0-zkvm/cuda"]
default = ["r0vm"]
docker = []
experimental = [
  "dep:tracing-subscriber",
  "dep:risc0-build",
  "dep:zip",
  "risc0-zkvm/prove",
]
metal = ["risc0-zkvm/metal"]
r0vm = ["dep:risc0-r0vm"]
redis = ["risc0-zkvm/redis"]
r0vm-ver-compat = ["risc0-r0vm/r0vm-ver-compat"]
