name: Benchmark Trends

on:
  push:
    branches: [ main ]
    # Only run benchmarks on changes to following paths:
    paths:
      - .github/workflows/bench_trends.yml
      - risc0/**

  workflow_dispatch:

  # uncomment for only for testing changes to this workflow while in a PR
  # pull_request:
  #   branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

# this is needed to gain access via OIDC to the S3 bucket for caching
permissions:
  id-token: write
  contents: read

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  RISC0_BUILD_LOCKED: 1
  RISC0_RUST_TOOLCHAIN_VERSION: r0.1.79.0
  RISC0_CPP_TOOLCHAIN_VERSION: 2024.01.05

jobs:
  bench:
    runs-on: [self-hosted, prod, bench, "${{ matrix.os }}", "${{ matrix.device }}"]

    strategy:
      fail-fast: false
      matrix:
        include:
          - os: Linux
            feature: prove
            device: cpu
          - os: Linux
            feature: cuda
            device: nvidia_rtx_3090_ti
          - os: Linux
            feature: cuda
            device: g6.xlarge
          - os: macOS
            feature: prove
            device: apple_m2_pro

    env:
      FEATURE: ${{ matrix.feature }}
      DISABLE_S3: ${{ matrix.device == 'nvidia_rtx_3090_ti' }}

    steps:
      - uses: actions/checkout@v4

      - if: matrix.feature == 'cuda'
        uses: ./.github/actions/cuda
      - uses: ./.github/actions/rustup
      - uses: ./.github/actions/sccache
        with:
          key: ${{ matrix.os }}-${{ matrix.feature }}
          disable_s3: ${{ env.DISABLE_S3 }}

      - run: cargo run --bin rzup -- --verbose install rust $RISC0_RUST_TOOLCHAIN_VERSION
      - run: cargo run --bin rzup -- --verbose install cpp $RISC0_CPP_TOOLCHAIN_VERSION

      - name: Run benchmarks
        run: cargo bench -F $FEATURE --bench fib

      - name: Store benchmark result
        uses: risc0/github-action-benchmark@v1.19.3
        with:
          name: "${{ matrix.os }}-${{ matrix.device }}"
          tool: 'customBiggerIsBetter'
          github-token: ${{ secrets.BENCHMARK_TOKEN }}
          gh-repository: 'github.com/risc0/ghpages'
          gh-pages-branch: main
          output-file-path: target/hotbench/fib/benchmark.json
          auto-push: true
