name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows running this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: [self-hosted, "${{ matrix.os }}"]
    strategy:
      fail-fast: false
      matrix:
        os: [Linux, macOS, Windows]
        include:
          - os: Linux
            config: --config=ci

    steps:
      - uses: actions/checkout@v2
      - uses: suyash/actions-bazelisk@v1
      - name: Build & test
        env:
          CONFIG: ${{ matrix.config }}
        run: bazelisk test //... $CONFIG --config=cpu

  cargo:
    runs-on: [self-hosted, "${{ matrix.os }}"]
    strategy:
      fail-fast: false
      matrix:
        os: [Linux, macOS, Windows]

    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - run: cargo run --bin risc0
      - run: cargo test --release
      - run: cargo build --release --manifest-path examples/rust/battleship/contract/Cargo.toml
