name: Nightly Tasks

on:
  schedule:
    - cron: '0 7 * * *' # Nightly (ish) Pacific
  workflow_dispatch:

env:
  RISC0_BUILD_LOCKED: 1
  RISC0_RUST_TOOLCHAIN_VERSION: 1.91.1
  RISC0_CPP_TOOLCHAIN_VERSION: 2024.01.05
  # Pin the nightly Rust version for jobs that need it.
  NIGHTLY_RUST_TOOLCHAIN: nightly-2025-06-20

jobs:
  fuzz:
    runs-on: [self-hosted, cluster, Linux, cpu]
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
      - run: git lfs pull
      - uses: ./.github/actions/rustup
        with:
          toolchain: ${{ env.NIGHTLY_RUST_TOOLCHAIN }}
      - uses: ./.github/actions/sccache
      # Run fuzzing on the receipt_seal target on 8 cores for 1 hour.
      - run: cargo +${{ env.NIGHTLY_RUST_TOOLCHAIN }} fuzz run receipt_seal --fuzz-dir risc0/fuzz --sanitizer none -j8 -- -max_len=1048576 -max_total_time=3600
      - run: sccache --show-stats

  alert_devops_if_failed:
    runs-on: ubuntu-latest
    if: ${{ always() && contains(join(needs.*.result, ','), 'failure') }}
    needs: [crates_validate]
    steps:
      - name: DevOps Alert
        env:
          NEEDS: ${{ toJSON(needs) }}
        run: |
          curl -X POST -H 'Content-type: application/json' --data '{"text":"Nightly Tasks Job Failed: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"}' ${{ secrets.DEVOPS_ALERT_WEBHOOK_URL }}
