name: Nightly Tasks

on:
  schedule:
    - cron: '0 7 * * *' # Nightly (ish) Pacific
  workflow_dispatch:

env:
  RISC0_BUILD_LOCKED: 1
  RISC0_RUST_TOOLCHAIN_VERSION: 1.91.1
  RISC0_CPP_TOOLCHAIN_VERSION: 2024.01.05
  # Pin the nightly Rust version for jobs that need it.
  NIGHTLY_RUST_TOOLCHAIN: nightly-2025-06-20

jobs:

  alert_devops_if_failed:
    runs-on: ubuntu-latest
    if: ${{ always() && contains(join(needs.*.result, ','), 'failure') }}
    needs: [crates_validate]
    steps:
      - name: DevOps Alert
        env:
          NEEDS: ${{ toJSON(needs) }}
        run: |
          curl -X POST -H 'Content-type: application/json' --data '{"text":"Nightly Tasks Job Failed: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"}' ${{ secrets.DEVOPS_ALERT_WEBHOOK_URL }}
