[package]
name = "risc0-circuit-keccak"
description = "RISC Zero circuit for keccak"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }

[dependencies]
anyhow = "1.0"
paste = "1.0"
risc0-binfmt = { workspace = true }
risc0-core = { workspace = true }
risc0-zkp = { workspace = true, features = ["default"] }
tracing = { version = "0.1", default-features = false, features = [
  "attributes",
] }

[target.'cfg(not(target_os = "zkvm"))'.dependencies]
bytemuck = "1.20"
cfg-if = { version = "1.0", optional = true }
risc0-circuit-keccak-sys = { workspace = true, optional = true }
risc0-circuit-recursion = { workspace = true, default-features = false }
risc0-sys = { workspace = true, optional = true }
rayon = { version = "1.10", optional = true }
zip = { version = "2.2", default-features = false, features = [
  "deflate",
], optional = true }

[dev-dependencies]
clap = { version = "4.5", features = ["derive"] }
rand = { version = "0.8" }
risc0-circuit-keccak-methods = { path = "methods" }
risc0-zkvm = { workspace = true, features = [
  "std",
  "unstable",
], default-features = false }
test-log = { version = "0.2", default-features = false, features = ["trace"] }
tracing-subscriber = { version = "0.3", features = ["env-filter"] }

[features]
# Enables CUDA GPU support
cuda = [
  "prove",
  "risc0-circuit-keccak-sys/cuda",
  "risc0-sys/cuda",
  "risc0-zkp/cuda",
  "risc0-zkvm/cuda",
]
default = ["prove"]
# Enables ZKR registration to actually generate proofs.
prove = [
  "dep:cfg-if",
  "dep:rayon",
  "dep:risc0-circuit-keccak-sys",
  "dep:risc0-sys",
  "dep:zip",
  "risc0-zkvm/prove",
  "risc0-circuit-recursion/prove",
]
