[workspace]

# Without resolver = "2", it seems that sometimes features get enabled
# in the guest based on features required by build dependencies.  If
# resolver = "2" causes other problems, this may need to be
# investigated further.
resolver = "2"

[package]
name = "risc0-zkvm-methods-std-ext"
version = "0.1.0"
edition = "2021"

[dependencies]
risc0-zkvm = { path = "../..", default-features = false, features = [
  "getrandom",
  "std",
  "unstable",
] }
risc0-zkvm-methods = { path = "..", features = ["std"] }
risc0-zkvm-platform = { path = "../../platform", default-features = false, features = ["sys-getenv", "sys-args"] }

[profile.release]
lto = true
opt-level = 3

[package.metadata.release]
release = false
